1.1/Source/.vs/
1.0/Source/.vs/
PsychologyImprisonmentPatch.zip
bin/
obj/
!1.1/Assemblies/PsychologyImprisonmentPatch.dll
!1.0/Assemblies/PsychologyImprisonmentPatch.dll
!1.0/Assemblies/0Harmony.dll
dist/
*.dll
